	<div class="row">
		<div class="col-md-4 col-sm-4 visible-lg col-lg-4">
			<div class="reserve-left-back"></div>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-8 ">
			<div class="main-container">
				<section class="reserve-header">
					<div class="row">
						<div class="col-xs-3 col-md-3 col-sm-3 resreve-number-container">
							<div class="reserve-number reserve-number-first" style="background: #fff;">
								<span>1</span>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first" style="background: #fff;"><span>2</span></div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first"><span>3</span></div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first"><span>4</span></div>
						</div>
					</div>
				</section>
				<section class="reserve-main">
					<h2 class="text-center reserve-main-title">Select day</h2>
					<div >
						<div class="form-group">
							<div class="row">
								<div class="col-md-12">
									<div id="datetimepicker12"></div>
								</div>
							</div>
						</div>
						<script type="text/javascript">
							$(function () {
								$('#datetimepicker12').datetimepicker({
									inline: true,
									sideBySide: true
								});
							});
						</script>
					</div>
					<div class="more-time text-center">
						<div class="glyphicon glyphicon-chevron-down glyphicon-class text-center"></div>
					</div>
					<div class="reserve_time">
						<div class="row reserve_time_item" >
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">11:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item" >
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">12:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item">
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">13:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item">
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">14:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item">
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">15:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item">
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">16:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item" >
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">17:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item" >
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">18:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item">
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">19:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item">
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">20:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
						<div class="row reserve_time_item">
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">21:00</p></div>
							<div class="col-xs-4 col-sm-4 col-md-4" >
								<div class="reserve_availavilaty"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4"><p class="text-center">3 Seat</p></div>
						</div>
					</div>
					<div class="reserve-next date-next">
						<%= link_to "<button class='btn'>next</button>".html_safe, register_path%>
					</div>
				</section>
			</div>
			
		</div>
	</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".datepicker-days").Css('display','block');
		$('#sandbox-container div').datepicker({
		});
	});
</script>