	<div class="row">
		<div class="col-md-4 col-sm-4 visible-lg col-lg-4">
			<div class="reserve-left-back"></div>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-8 ">
			<div class="main-container">
				<section class="reserve-header">
					<div class="row">
						<div class="col-xs-3 col-md-3 col-sm-3 resreve-number-container">
							<div class="reserve-number reserve-number-first" style="background: #fff;">
								<span>1</span>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first"><span>2</span></div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first"><span>3</span></div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first"><span>4</span></div>
						</div>
					</div>
				</section>
				<section class="reserve-main">
					<h2 class="text-center reserve-main-title">How many person?</h2>
					<div class="row  reserve-count-first">
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">1</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">2</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">3</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">4</div>
						</div>
					</div>
					<div class="row reserve-count-second">
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">5</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">6</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">7</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-count-container">
							<div class="reserve-count">8</div>
						</div>
				</div>
					<h2 class="text-center person_more">more</h2>
					<div class="reserve-select-more">
						<select class="selectpicker">
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
						</select>
					</div>
					<div class="reserve-next">
						<%= link_to "<button class='btn'>next</button>".html_safe, date_path%>
					</div>
				</section>
			</div>
			
		</div>
	</div>
