	<div class="row">
		<div class="col-md-4 col-sm-4 visible-lg col-lg-4">
			<div class="reserve-left-back"></div>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-8 ">
			<div class="main-container">
				<section class="reserve-main-login reserve-main">
					<h2 class="text-center reserve-main-title">Login</h2>
					<%= form_for( :room, method: 'get', remote: true ) do |f| %>
					<div class="form-group">
						<label class="control-label" for="email">EMAIL:</label>
						<%= f.email_field :email, class: 'form-control',id: 'email', placeholder: 'Your Email', required: true %>
					</div>
					<div class="form-group ">
						<label class="control-label" for="password">PASSWORD:</label>
						<%= f.password_field :password, class: 'form-control', id: 'password', required: true %>
					</div>
					<div class="reserve-next">
						<%= link_to "<button class='btn'>Login</button>".html_safe, mypage_path%>
					</div>

					<div class="already-text text-center">
						<h3>or Make new reservation</h3>
					</div>
					<% end %>
				</section>
			</div>
			
		</div>
	</div>